@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    background-color: #1c1c1c; 
  }


a {
    color: #fff;
    text-decoration: none;
}

:root {
    --color-primary:#171717;
    --color-text-primary: #fff;
    --color-text-secondary: #E0C488;
}

.philosopher {
    font-family: Philosopher;
}

.SourceSerif4 {
    font-family: 'Source Serif 4', Arial, Helvetica, sans-serif ;
}

.Archivo {
    font-family: 'Archivo';
}