@media (max-width: 768px) {
    .menu {
        flex-direction: row;
        align-items: center;
        background-color: rgba(17, 13, 17, 0.2);
    }
    #will-menu {
        max-width: 100vw;
        background-repeat: no-repeat;
    }
    .menu ul {
        flex-direction: column;
    }

    .center h1 {
        font-size: 4rem;
        margin-bottom: 35rem;
    }

    #bio-box table td {
        display: block;
        width: 100%;
    }
    img {
        display: none;
    }
    .nav-topics {
        display: none;
    }
    .circle {
        display: flex;
        border-radius: 0px;
        text-align: center;
    }
    .circle, h2, p {
        display: flex;
        font-size: 5px;
        text-align: center;
    }
    #section-films-and-projects {
        display: none;
    }
    .section-introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url(/img/WallpaperDeFundoIntroducao.png);
        background-size: 0%;
        color: #fff;
        position: relative;
        top: -30rem;
    }
    #bio-txt-content {
        font-size: 15px;
    }
    .line {
        padding: 0;
        margin: 0;
    }
    #awards {
        display: none;
    }
}

/* Responsivo em telas muito pequenas */
@media (max-width: 480px) {
    .menu {
        text-align: center;
    }

    .header {
        flex-direction: column;
    }

    .center h1 {
        font-size: 1.6rem;
    }

    .section-introduction .circle, .box-text {
        padding: 10px;
    }
}
